[submodule "lib/sqlite"]
	path = lib/sqlite
	url = https://github.com/sqlite/sqlite
[submodule "lib/postgres"]
	path = lib/postgres
	url = https://github.com/postgres/postgres
[submodule "lib/zig-sqlite"]
	path = lib/zig-sqlite
	url = https://github.com/vrischmann/zig-sqlite
